@model Revuvu.UI.Models.ReviewListVM

<div id="reviewList">
    @foreach (var review in Model.ReviewVMList.OrderByDescending(d => d.Review.DatePublished).Where(r=>r.Review.IsApproved == true))
    {
    <div id="reviews">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="reviewTitle">
                    <h3>@review.Review.ReviewTitle</h3>
                    <p>@review.Review.DatePublished.ToString("MM/dd/yyyy")</p>
                </div>
                <div id="reviewBody">
                    @Html.Raw(review.Review.ReviewBody)
                </div>
                <div id="reviewStats">
                    <div class="col-md-4">
                        <p>Rating: @review.Review.Rating</p>
                        <p>Up: @review.Review.UpVotes Down:@review.Review.DownVotes</p>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <p>Category: @review.Category.CategoryName</p>
                        <p>
                            Tags:
                            @foreach (var tag in review.TagList)
                        {
                            <span> #@tag.TagName </span>
                    }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
            <br />
        }
</div>